<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
	android:compileSdkVersion="34" 
	android:compileSdkVersionCodename="A14" 
	android:versionCode="20250130" 
	android:versionName="ide FULL" 
	package="ide.ide.full" 
	platformBuildVersionCode="34" 
	platformBuildVersionName="A14">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
		
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
		
	<uses-permission android:name="ide.ide.full_com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="ide.ide.full.permission.C2D_MESSAGE" />
	<permission android:name="ide.ide.full.permission.C2D_MESSAGE" android:protectionLevel="signature" />
		
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="false" />
	<uses-feature android:name="android.hardware.type.pc" android:required="false" />
	<supports-screens android:largeScreens="true" android:xlargeScreens="true" />
		
	<application 
		android:alwaysRetainTaskState="true" 
		android:appCategory="productivity" 
		android:extractNativeLibs="true" 
		android:icon="@mipmap/ic_launcher" 
		android:label="@string/app_name" 
		android:largeHeap="true" 
		android:name="com.s1243808733.aide.application.App"
		android:resizeableActivity="true" 
		android:theme="@android:style/Theme.Material.Light.NoActionBar"
		>
		
		<activity 
			android:exported="true" 
			android:icon="@mipmap/ic_launcher" 
			android:launchMode="singleTask" 
			android:name="com.s1243808733.aide.application.activity.LightLaunchActivity" 
			android:theme="@style/SplashTheme_Light"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity>
		
		<activity android:icon="@mipmap/ic_launcher_dark" android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.DarkLaunchActivity" android:theme="@style/SplashTheme_Dark" />
		<activity android:icon="@mipmap/ic_launcher_indigo" android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.IndigoLaunchActivity" android:theme="@style/SplashTheme_Indigo" />
		<activity android:icon="@mipmap/ic_launcher_teal" android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.TealLaunchActivity" android:theme="@style/SplashTheme_Teal" />
		<activity android:icon="@mipmap/ic_launcher_red" android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.RedLaunchActivity" android:theme="@style/SplashTheme_Red" />
		<activity-alias android:enabled="false" android:icon="@mipmap/ic_launcher" android:name="com.aide.ui.DarkActivity" android:targetActivity="com.s1243808733.aide.application.activity.DarkLaunchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity-alias>
		<activity-alias android:enabled="false" android:icon="@mipmap/ic_launcher_red" android:name="com.aide.ui.RedActivity" android:targetActivity="com.s1243808733.aide.application.activity.RedLaunchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity-alias>
		<activity-alias android:enabled="false" android:icon="@mipmap/ic_launcher_teal" android:name="com.aide.ui.TealActivity" android:targetActivity="com.s1243808733.aide.application.activity.TealLaunchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity-alias>
		<activity-alias android:enabled="false" android:icon="@mipmap/ic_launcher_indigo" android:name="com.aide.ui.IndigoActivity" android:targetActivity="com.s1243808733.aide.application.activity.IndigoLaunchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity-alias>
		<activity android:configChanges="keyboardHidden|screenSize|uiMode" android:launchMode="singleTask" android:name="com.s1243808733.aide.AideMainActivity" android:screenOrientation="user">
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
		</activity>
		<activity android:configChanges="keyboard|orientation" android:launchMode="singleTask" android:name="com.dropbox.client2.android.AuthActivity">
			<intent-filter>
				<data android:scheme="db-fkerp7oej8u61j0" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:launchMode="singleTask" android:name="com.a4455jkjh.ManifestActivity" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.AdvancedSettingsActivity" />
		<activity android:launchMode="singleTask" android:name="com.s1243808733.aide.highlight.HighlightActivity" />
		<activity android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.permission.ManifestActivity" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:launchMode="singleTask" android:name="com.s1243808733.aide.application.activity.icons.IconActivity" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:name="com.s1243808733.aide.application.activity.androidr.AndroidRActivity" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:name="com.yt.plugin.WebActivity" />
		<activity android:name="com.yt.plugin.SmallWebActivity" android:theme="@style/theme_translation" />
		<activity android:name="com.s1243808733.util.CrashUtils$CrashActiviy" />
		<activity android:name="com.s1243808733.aide.application.activity.ManageSpaceActivity" />
		<activity android:configChanges="uiMode" android:excludeFromRecents="true" android:label="@string/command_settings" android:name="com.s1243808733.aide.application.activity.AidePreferencesActivity" android:screenOrientation="user" android:theme="@style/ActivityPreferencesThemeLight" />
		<activity android:configChanges="uiMode" android:excludeFromRecents="true" android:label="@string/command_settings" android:name="com.s1243808733.aide.application.activity.AidePreferencesActivity2" android:screenOrientation="user" android:theme="@style/ActivityPreferencesThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="false" android:label="@string/activity_help" android:launchMode="singleInstance" android:name="com.aide.ui.activities.HelpViewActivity" android:screenOrientation="user" android:taskAffinity="com.aide.ui.help" android:theme="@style/ActivityPreferencesThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:icon="@drawable/ic_app_launcher" android:label="@string/activity_my_android_app" android:launchMode="singleInstance" android:name="com.aide.ui.activities.AndroidTrainerActivity" android:screenOrientation="user" android:taskAffinity="com.aide.trainer" android:theme="@style/AndroidAppTheme" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.aide.ui.activities.TrainerCourseActivity" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:name="com.aide.ui.activities.GotoBrowserActivity" android:screenOrientation="user" android:theme="@style/ActivityGotoThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="@string/activity_git_commit" android:name="com.aide.ui.activities.CommitActivity" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="@string/activity_get_access" android:name="com.aide.ui.activities.ShopExpertPopupActivity" android:screenOrientation="user" android:theme="@style/ActivityShopPopup" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="@string/activity_get_access" android:name="com.aide.ui.activities.ShopLearningPopupActivity" android:screenOrientation="user" android:theme="@style/ActivityShopPopup" />
		<activity android:excludeFromRecents="true" android:label="@string/activity_about" android:name="com.aide.ui.preferences.AboutActivity" android:screenOrientation="user" android:theme="@style/ActivityPreferencesThemeLight" />
		<activity android:excludeFromRecents="true" android:label="@string/command_settings" android:name="com.aide.ui.preferences.PreferencesActivity" android:screenOrientation="user" android:theme="@style/ActivityPreferencesThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="@string/command_design" android:name="com.aide.ui.htmluidesigner.PhonegapDesignActivity" android:process=":Phonegap" android:screenOrientation="user" android:theme="@android:style/Theme.Black.NoTitleBar" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:launchMode="singleTop" android:name="com.aide.ui.build.java.RunTrainerJavaActivity" android:process=":JavaTrainerConsole" android:screenOrientation="user" android:taskAffinity="com.aide.ui.javaconsole" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|locale|orientation|screenSize" android:excludeFromRecents="true" android:label="JavaConsole" android:name="com.aide.ui.build.java.RunJavaActivity" android:noHistory="true" android:process=":JavaConsole" android:screenOrientation="user" android:taskAffinity="com.aide.ui.javaconsole" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.aide.ui.build.nativeexecutable.RunNativeExecutableActivity" android:process=":NativeExecutableConsole" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.aide.ui.build.javascript.RunJavaScriptActivity" android:process=":JavaScriptConsole" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:icon="@drawable/ic_launcher_designer" android:label="@string/command_design" android:name="com.aide.uidesigner.XmlLayoutDesignActivity" android:process=":XmlDesigner" android:screenOrientation="user" android:theme="@style/ActivityThemeDesignerLight" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
		<activity android:configChanges="keyboard|keyboardHidden|locale" android:excludeFromRecents="true" android:label="" android:name="com.aide.ui.htmluidesigner.WebDesignActivity" android:process=":Webview" android:screenOrientation="user" android:theme="@style/ActivityThemeWebDesigner" />
		<service android:exported="false" android:name="com.aide.ui.build.packagingservice.ExternalPackagingService" android:process=":PackagingService" />
		<service android:exported="false" android:name="com.aide.engine.service.CodeAnalysisEngineService" android:process=":EngineService" />
		<service android:exported="false" android:name="com.aide.ui.scm.ExternalGitService" android:process=":GitService" />
		<receiver android:exported="true" android:name="com.aide.ui.debugger.ADRTReceiver">
			<intent-filter>
				<action android:name="com.adrt.LOGCAT_ENTRIES" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.adrt.CONNECT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.adrt.STOP" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.adrt.BREAKPOINT_HIT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.adrt.FIELDS" />
			</intent-filter>
		</receiver>
		<receiver android:exported="true" android:name="com.aide.ui.TrainerRuntimeReceiver">
			<intent-filter>
				<action android:name="com.aide.trainer.APP_RUN" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.aide.ui.trainer.TrainerNotificationAlarmReceiver" />
		<receiver android:name="com.aide.ui.PromoNotificationAlarmReceiver" />
		<receiver android:name="com.aide.ui.PackageUpgradedBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.aide.ui.UserPresentBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		<provider android:authorities="ide.ide.full.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
		</provider>
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-2926119607791157~3039278622" />
		<provider android:authorities="ide.ide.full.crashlyticsinitprovider" android:exported="false" android:initOrder="90" android:name="com.crashlytics.android.CrashlyticsInitProvider" />
		<service android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
			<meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		<receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver" />
		<receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
		<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent" />
		<provider android:authorities="ide.ide.full.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider" />
		<receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</receiver>
		<service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
			<intent-filter android:priority="-500">
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>
		<provider android:authorities="ide.ide.full.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider" />
		<activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="android.support.VERSION" android:value="26.1.0" />
		<meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT" />
		<meta-data android:name="android.max_aspect" android:value="3.0" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden" />
		<activity android:configChanges="keyboardHidden|orientation|screenSize" android:multiprocess="true" android:name="com.blankj.utilcode.util.UtilsTransActivity" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden" />
		<provider android:authorities="ide.ide.full.utilcode.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.blankj.utilcode.util.UtilsFileProvider">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/util_code_provider_paths" />
		</provider>
		<service android:exported="false" android:name="com.blankj.utilcode.util.MessengerUtils$ServerService">
			<intent-filter>
				<action android:name="com.aide.ui.messenger" />
			</intent-filter>
		</service>
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="Default" />
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<meta-data android:name="IMainActivity" android:value="com.s1243808733.aide.GradleBuildEvent,com.s1243808733.aide.DexMergerEvent,com.s1243808733.aide.ZipalignEvent" />
		<activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:label="@string/app_name" android:name="com.termux.app.TermuxActivity" android:screenOrientation="user" android:theme="@style/Theme.Termux" android:windowSoftInputMode="adjustResize|stateHidden" />
		<activity android:exported="false" android:label="@string/app_name" android:name="com.termux.app.TermuxHelpActivity" android:parentActivityName="com.termux.app.TermuxActivity" android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
		<activity android:excludeFromRecents="true" android:exported="false" android:label="@string/app_name" android:name="com.termux.filepicker.TermuxFileReceiverActivity" android:noHistory="true" android:taskAffinity="com.termux.filereceiver">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/*" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="image/*" />
				<data android:mimeType="message/*" />
				<data android:mimeType="multipart/*" />
				<data android:mimeType="text/*" />
				<data android:mimeType="video/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
				<data android:mimeType="application/json" />
				<data android:mimeType="application/*xml*" />
				<data android:mimeType="application/*latex*" />
				<data android:mimeType="application/javascript" />
			</intent-filter>
		</activity>
		<provider android:authorities="ide.ide.full_com.termuxs.documents" android:exported="true" android:grantUriPermissions="true" android:name="com.termux.filepicker.TermuxDocumentsProvider" android:permission="android.permission.MANAGE_DOCUMENTS">
			<intent-filter>
				<action android:name="android.content.action.DOCUMENTS_PROVIDER" />
			</intent-filter>
		</provider>
		<service android:exported="false" android:name="com.termux.app.TermuxService" />
		<activity android:exported="false" android:name="com.termux.styling.TermuxStyleActivity" android:noHistory="true" android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar.MinWidth" />
		<receiver android:name="com.termux.app.TermuxOpenReceiver" />
		<provider android:authorities="ide.ide.full_com.termuxs.files" android:exported="true" android:grantUriPermissions="true" android:name="com.termux.app.TermuxOpenReceiver$ContentProvider" android:readPermission="android.permission.permRead" />
		<service android:name="com.s1243808733.aide.application.service.ClearApplUserDataService" />
			
		<activity 
			android:excludeFromRecents="true" 
			android:exported="true" 
			android:name="bin.mt.file.content.MTDataFilesWakeUpActivity" 
			android:noHistory="true" 
			android:taskAffinity="aidepro.top.MTDataFilesWakeUp" />
		
		<provider android:authorities="ide.ide.full.MTDataFilesProvider" android:exported="true" android:grantUriPermissions="true" android:name="bin.mt.file.content.MTDataFilesProvider" android:permission="android.permission.MANAGE_DOCUMENTS">
			<intent-filter>
				<action android:name="android.content.action.DOCUMENTS_PROVIDER" />
			</intent-filter>
		</provider>
	</application>
</manifest>
